.c-modal {
  .modal-back {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.336);
  }

  .modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    max-height: 600px;
    background: white;
    z-index: 2;
    transform: translate(-50%, -50%);
    padding: 1rem;
    overflow-y: auto;

    &__header {
      div {
        text-align: right;
        cursor: pointer;
        font-size: 1.5rem;
      }
      h1 {
        margin: 0;
        text-align: center;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      input[type="text"] {
        padding: 0.6rem 0.8rem;
        margin: 1rem 0;
      }

      button {
        margin: 0 auto;
        padding: 0.6rem 1.2rem;
        background: rgb(77, 145, 77);
        border: 0;
        color: white;
        cursor: pointer;
      }

      p {
        margin: 0;
      }

      h4 {
        margin: 0;
      }

      &-children {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
      }
    }

    &__footer {
      display: flex;
      justify-content: end;
      gap: 10px;

      button {
        padding: 0.6rem 1.2rem;
        cursor: pointer;
        border: 0;
        color: white;

        &:first-child {
          background-color: rgb(56, 56, 255);
        }
        &:nth-child(2) {
          background-color: red;
        }
      }
    }
  }
}
